<div class="data-table-container">
    <header class="data-table-header">
        <div class="data-table-header__label">
            <span class="fs-title">ทะเบียนผู้ใช้งาน</span>
        </div>

        <div class="data-table-header__actions">

            <lx-search-filter model="query" filter-width="100%" placeholder="ค้นหา...">

            </lx-search-filter>

        </div>
    </header>

    <table class="data-table">
        <thead>
        <tr class="data-table__selectable-row">
            <th></th>
            <th>ชื่อผู้ใช้งาน</th>
            <th>#</th>

        </tr>
        </thead>

        <tbody>

        <tr ng-repeat="u in users | filter: query">
            <td></td>
            <td>{{ u.user_name }}</td>
            <td>
                <a href="#/user-edit/{{ u.user_name }}" class="btn btn--m btn--blue btn--icon" lx-ripple>
                    <i class="mdi mdi-account-check"></i>
                </a>
                <button ng-click="remove($index, u.user_name)" class="btn btn--m btn--red btn--icon" lx-ripple>
                    <i class="mdi mdi-account-remove"></i>
                </button>
            </td>
        </tr>

        </tbody>
    </table>
</div>

<br/>
<a ui-sref="new-user" class="btn btn--l btn--green btn--raised">เพิ่มผู้ใช้งาน</a>