<div class="data-table-container">
    <header class="data-table-header">
        <div class="data-table-header__label">
            <span class="fs-title">ทะเบียนผู้ใช้งาน</span>
        </div>

        <div class="data-table-header__actions">

            <lx-dropdown position="right" over-toggle="true">
                <button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                    <i class="mdi mdi-dots-vertical"></i>
                </button>

                <lx-dropdown-menu>
                    <ul>
                        <li><a ui-sref="new-user" class="dropdown-link">เพิ่มผู้ใช้งาน</a></li>
                    </ul>
                </lx-dropdown-menu>
            </lx-dropdown>
        </div>
    </header>

    <table class="data-table">
        <thead>
        <tr class="data-table__selectable-row">
            <th></th>
            <th>ชื่อผู้ใช้งาน</th>
            <th>#</th>

        </tr>
        </thead>

        <tbody>

        <tr ng-repeat="u in users">
            <td></td>
            <td>{{ u.user_name }}</td>
            <td>
                <button class="btn btn--m btn--blue btn--icon" lx-ripple>
                    <i class="mdi mdi-account-check"></i>
                </button>
                <button class="btn btn--m btn--red btn--icon" lx-ripple>
                    <i class="mdi mdi-account-remove"></i>
                </button>
            </td>
        </tr>

        </tbody>
    </table>
</div>